body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-image: url('./images/space.webp');
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: orbit 36.5s linear infinite;
}

.container {
  width: 400px;
  height: 400px;
  position: relative;
}

.sun {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
  background-color: #ffcc00;
  box-shadow: 0 0 3px #fff;
  border-radius: 50%;
}

.earth {
  width: 80px;
  height: 80px;
  background-image: url('./images/earth.webp');
  background-size: contain;
  animation: orbit 36.5s linear infinite;
  margin: 20rem;
}

.moon {
  width: 20px;
  height: 20px;
  background-image: url('./images/moon.webp');
  background-size: contain;
  margin: 6rem;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 50em) {
  body {
    width: 100%;
  }
  .container {
    width: 200px;
    height: 200px;
  }
  .sun {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
  }

  .earth {
    width: 40px;
    height: 40px;
    margin: 10rem;
  }

  .moon {
    width: 10px;
    height: 10px;
    margin: 3rem;
  }
}
